﻿doctype html
html
  head 
    meta charset="utf-8"
    title Test app for Sinatra 1.4.4 
	script src="http://code.jquery.com/jquery-1.9.1.min.js"	
	javascript:
		$(function(){
			$('a.left_click').click(function(){
				var i = $(this).attr("id");					
				$.ajax({
					url: "/path_left",
					data: {path_left: i},					
					success: function(data) {
						$("#layer_left").html(data)
					}
				});
			});			
			$('a.right_click').click(function(){;
				var i = $(this).attr("id");								
				$.ajax({
					url: "/path_right",
					data: {path_right: i},					
					success: function(data) {
						$("#layer_right").html(data)
					}
				});				
			});
		})
	sass:
		$color_ground: #00008B
		
		a
		  color: #ffffff
		  font-family: Lucida Console

		.cont
		  color: #00FFFF
		  font-family: Lucida Console
		  position: absolute
		  background: $color_ground						
		  top: 18px
		  height: 666px			
		  width: 1246px

		#layer_left
		  position: absolute
		  width: 600px
		  height: 640px
		  background: $color_ground
		  border-style: double
		  border-color: #00FFFF
		  border-width: 3px 3px 3px 3px
		  min-width: 250px
		  padding: 5px
		  margin: 5px
	
		#layer_right
		  background: $color_ground
		  border-style: double
		  border-color: #00FFFF
		  border-width: 3px 3px 3px 3px
		  position: absolute
		  height: 640px
		  width: 600px
		  left: 620px
		  padding: 5px
		  margin: 5px		

		.head_path
		  text-align: center
		  background: $color_ground			
		  position: absolute
		  height: 30px
		  max-width: 550px
		  top: -4px
		  left: 25px
		  word-wrap: break-word
		  padding: 0px 5px

		.bottom_size
		  text-align: center
		  background: $color_ground				
		  position: absolute
		  max-width: 550px
		  bottom: -4px
		  left: 25px
		  word-wrap: break-word
		  padding: 0px 5px		

  body 
	div.cont
		div#layer_left
			br 
			div.head_path
				= $view_path_left
			br	
			- if ($root_path.to_s != $view_path_left.to_s)	
				a.left_click id=".." href="#"				
					| /..
				br
		
			- $left.reject{|elem_l| elem_l=='.' || elem_l=='..' }.each do |left_f|
				- if File.directory?(File.join($left, left_f))
					a.left_click id="#{left_f}" href="#"					
						| /
						= left_f
				- else		
					= left_f
					- $size_l = $size_l + File.size(File.join($left, left_f))
					- $count_l+=1			

				br
			div.bottom_size
				= $size_l
				' 
				' байт в
				= $count_l
				' 
				' файлах
				
		div#layer_right
			br
			div.head_path
				= $view_path_right
			br
			- if ($root_path.to_s != $view_path_right.to_s)
				a.right_click id=".." href="#"
					| /..
				br
			- else
				- $size_l = 0					
				- $count_l = 0		
			- $right.reject{|elem_r| elem_r=='.' || elem_r=='..' }.each do |right_f|
				- if File.directory?(File.join($right, right_f))
					a.right_click id="#{right_f}" href="#"
						| /
						= right_f
				- else
					= right_f
					- $size_r = $size_r + File.size(File.join($right, right_f))		
					- $count_r+=1			

				br
			div.bottom_size
				= $size_r
				' 
				' байт в
				= $count_r
				' 
				' файлах