﻿script src="http://code.jquery.com/jquery-1.9.1.min.js"	
javascript:
	$(function(){		
		$('a.left_click').click(function(){
			var i = $(this).attr("id");				
			
			$.ajax({
				url: "/path_left",
				data: {path_left: i},					
				success: function(data) {
					$("#layer_left").html(data)
				}
			});
			
		});
	})
br 
div.head_path
	= $view_path_left
br	
- if ($root_path.to_s != $view_path_left.to_s)	
	a.left_click id=".." href="#"
		| /..
	br
	
- $left.reject{|elem_l| elem_l=='.' || elem_l=='..' }.each do |left_f|
	- if File.directory?(File.join($left, left_f))
		a.left_click id="#{left_f}" href="#"
			| /
			= left_f
	- else		
		= left_f
		- $size_l = $size_l + File.size(File.join($left, left_f))
		- $count_l+=1			
	br
div.bottom_size
	= $size_l
	' 
	' байт в
	= $count_l
	' 
	' файлах