﻿script src="http://code.jquery.com/jquery-1.9.1.min.js"	
javascript:
	$(function(){		
		$('a.right_click').click(function(){
			var i = $(this).attr("id");				
			
			$.ajax({
				url: "/path_right",
				data: {path_right: i},					
				success: function(data) {
					$("#layer_right").html(data)
				}
			});
			
		});
	})
br
div.head_path
	= $view_path_right
br
- if ($root_path.to_s != $view_path_right.to_s)
	/a href="/?path_right=.."
	a.right_click id=".." href="#"	
		| /..
	br
	
- $right.reject{|elem_r| elem_r=='.' || elem_r=='..' }.each do |right_f|
	- if File.directory?(File.join($right, right_f))
		a.right_click id="#{right_f}" href="#"
			| /
			= right_f
	- else
		= right_f
		- $size_r = $size_r + File.size(File.join($right, right_f))		
		- $count_r+=1			
	br
div.bottom_size
	= $size_r
	' 
	' байт в
	= $count_r
	' 
	' файлах